---
import Socials from './Socials.astro';
---

<div>

    <!-- Start: Terminal -->
    <div class="mt-6 bg-background rounded-lg p-4 border border-comment text-xs">

        <div class="flex items-center mb-2">
            <span class="text-primary mr-2">$</span>
            <span class="text-foreground">npx connect</span>
        </div>

        <div class="mt-2 text-comment">
            Initializing...
            <br />
            Ready to connect.
            <br />
            Waiting for contact request...
        </div>

    </div>
    <!-- End: Terminal -->

    <!-- Start: Social Links -->
    <Socials />
    <!-- End: Social Links -->

</div>
