---
import SocialIcon from './SocialIcon.astro';

interface Social {
    icon: 'github' | 'linkedIn' | 'email';
    link: string;
    title?: string;
}

const socials: Social[] = [{
    icon: 'github',
    link: 'https://github.com/ramipaleo',
    title: 'View GitHub Profile'
},{
    icon: 'linkedIn',
    link: 'www.linkedin.com/in/ramiro-pacheco-03619054',
    title: 'View LinkedIn Profile'
}, {
    icon: 'email',
    link: 'mailto:raleo.0486@gmail.com',
    title: 'Send Email'
}];

---

<!-- Start: Social Links -->
<div class="flex flex-wrap gap-6 mt-6 justify-start">

    {socials.map(social =>
        <a
            href={social.link}
            target="_blank"
            title={social.title}
            rel="noopener noreferrer"
            class="flex items-center justify-center w-10 h-10 rounded-lg bg-background text-foreground transition-all duration-150 border border-comment hover:bg-primary hover:-translate-y-0.5">
            <SocialIcon icon={social.icon} />
        </a>
    )}

</div>
<!-- End: Social Links -->